<html>
<head>
<h1 style="color:ligthblue;">Your Favorite Quotes:</h1>
</head>
</html>
<link href="style.css" rel="stylesheets" type="text/css">
<%= render partial: 'favorites', collection: @quotes %>
<%= render 'user_nav' %>

     
