<div class="container favorites">
    <div id="welcome">
        <h1>Your Favorite Quotes: </h1>
    </div>

    <div class="quote">
        <%= render partial: 'favorites', collection: @quotes %>
    </div>
    
    <footer>
        <%= render 'user_nav' %>
    </footer>
    
</div>

