<div class="container">
    <div id="welcome">
        <h1>Welcome Scholar!</h1>
    </div>
    
    <div class="quote">
        <h2> Random Words of Wisdom: </h2>
        <div class="transbox">
            <p>"<%= @quote.content %>"<br> - <em><%= @quote.author %></em> </p>
        </div>
    </div>

</div>

