<div class="container">
    <div id="welcome">
        <h1>Welcome Scholar!</h1>
    </div>
    
    <div class="quote">
        <h2> Random Words of Wisdom: </h2>
        <p>"<%= @quote.content %>"<br> - <em><%= @quote.author %></em> </p>
    </div>

    <footer>
        <%= render 'user_nav' %>
    </footer>
</div>

