/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --button-color: #0097F2;
    --background-color: #FAFAFA;
    --border-color: #cacaca;
    --text-color: white;
    --secondary-text-color: #8E8E8E;
    --link-color: #003869;

    --display-font: 'Oleo Script', cursive;
    --body-font: 'Lato', sans-serif;
}

* {
    margin: 1;
    padding: 1;
    text-align: center;
}

body {
    background: linear-gradient(
        rgba(189, 97, 31, .5), 
        rgba(208, 121, 60, 0.5)
      ),   url("https://cdn.pixabay.com/photo/2015/04/20/22/17/magnolia-732332_960_720.png");
    margin-top: 100px;
}

h1 {
    color: var(--text-color);
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

#welcome {
    grid-area: header;
    justify-self: center;
    font-family: var(--display-font);
    text-align: center;
    font-size: 5vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: 54px;

    display: flex;
    justify-content: center;

    /* margin: 30px; */
    background-color: #5e5d5d;
    /* border: 1px solid black; */
    opacity: 0.6;
}

.header-contents {
    width: 100%;
    max-width: 950px;
    padding: 0 10px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    margin: 0;
    font-family: var(--display-font);
    font-size: 28px;
    font-weight: 400;
}

background {
    background: url("https://cdn.pixabay.com/photo/2015/04/20/22/17/magnolia-732332_960_720.png") repeat;
    /* border: 2px solid black; */
  }

/* .transbox {
    margin: 30px;
    background-color: #5e5d5d;
    border: 1px solid black;
    opacity: 0.6;
  } */

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: white;
  }