.container {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw 33vw;
    grid-template-rows: 25vw 25vw 25vw 25vw;
    grid-template-areas: 
        "header header header"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer ";
    align-content: space-around;
}

.quote {
    text-align: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
}

.quote h2 {
    color: white;
}

.container.favorites {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 33vw 33vw 33vw 33vw 33vw 33vw;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    grid-column: 2;
    grid-row: 5;
    text-align: center;
}

.transbox {
    margin: 30px;
    background-color: #5e5d5d;
    border: 1px solid black;
    opacity: 0.6;
}

h3 {
    color: white;
}

p {
    color: white;
}

.field {
    color: white;
}

h2 {
    color: white;
}